@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
  font-weight: bolder;
}
.container {
  height: 100vh;
  width: 100vw;
}

.seriesbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
}

.showCard {
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 300px;
}

.pilotCard {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 245px;
  height: 275px;
}
.suitCard {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 245px;
  height: 275px;
}

.showCard,
.pilotCard,
.suitCard {
  background: rgba(242, 242, 247, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.iconImage {
  width: 200px;
  height: 200px;
}
.suitIcon {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: auto;
  margin-right: 10px;
}

.showDetails,
.showDetails2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.add-btn1 {
  margin-right: 100px;
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
}

.add-btn2 {
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.suitMedia {
  width: 375px;
  height: 375px;
  justify-self: center;
  align-self: center;
  margin-right: 75px;
  border-radius: 10px;

  background: rgba(242, 242, 247, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.suitGrid {
  display: flex;
  justify-content: center;
}

.suitDetails {
  background: rgba(242, 242, 247, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.model,
.weapons,
.description,
.name,
.age,
.mecha {
  text-align: left;
  font-weight: bolder;
  font-size: 1.2rem;
  padding-right: 10px;
  padding-left: 10px;
  background: rgba(242, 242, 247, 0.4);
  backdrop-filter: blur(10px);
}

.model,
.weapons,
.name,
.age,
.mecha {
  width: auto;
}

.description {
  width: 1000px;
  -webkit-ovwerflow-scrolling: auto;
  overflow-y: scroll;
  line-height: 145%;
  size: 15px;
  text-align: left;
  height: 350px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vmax;
  height: 50px;
  background: rgba(242, 242, 247, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.series-nav,
.pilot-nav,
.suit-nav,
.comment-nav {
  display: block;
  width: 200px;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.form {
  display: grid;
  grid-template-rows: 75px 15px 75px;
  margin: 150px auto 10px auto;
  max-width: 700px;
  color: black;
  font-size: 1.3rem;
}

.form-author,
.form-text,
.custom-btn,
.form-url {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
}

.form-author {
  height: 50px;
  font-size: 1rem;
  padding-left: 15px;
  color: black;
  margin-bottom: 200px;
  align-self: center;
}

.form-text {
  margin-bottom: 90px;
  height: 100px;
  font-size: 1.3rem;
  padding-top: 15px;
  padding-left: 15px;
  color: black;
  align-self: center;
}

.form-url {
  height: 25px;
  font-size: 1rem;
  padding-left: 15px;
  align-self: center;
  margin-top: 10px;
}

.custom-btn {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  background-color: rgba(68, 70, 179, 0.3);
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
  align-self: start;
}

::placeholder {
  color: black;
  font-size: 1.3rem;
}

.create-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
}

.create-author,
.create-text,
.create-url,
.create-btn {
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
  width: 600px;
}

.create-author {
  height: 30px;
}

.create-text {
  height: 100px;
}

.button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2px auto;
  background: rgba(242, 242, 247, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 20px;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
  flex-wrap: wrap;
}

.commentCard {
  display: flex;
  margin-bottom: 500px;
  align-content: center;
  width: 75px;
  border-radius: 10px;
  align-content: flex-start;
  height: 75px;
  margin-right: 250px;
}

.commentInfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: left;
  line-height: 145%;
  size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 450px;
}

.delete-btn {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.delete-btn::after {
  content: '\f014';
  font-family: FontAwesome;
  color: blue;
  font-size: 20px;
  transition: font-size 150ms ease-in-out;
}

.delete-btn:hover::after {
  font-size: 22px;
  color: blue;
}

.suitIcon2 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding-bottom: 10px;
  align-self: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  bottom: 5px;
}
