.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: linear-gradient(to top right, #0e2a4e 22%, #000000 100%); */
  text-align: center;
}

.seriesbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
  height: auto;
}

.showCard {
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 400px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.pilotCard {
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 300px;
}
.suitCard {
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 350px;
}

.iconImage {
  width: 200px;
  height: 200px;
}
.suitIcon {
  width: 200px;
  height: 200px;
}

.showDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border: 1px solid black;
  justify-content: space-evenly;
  margin: 10vh;
}

.suitMedia {
  width: 400px;
  height: 400px;
  justify-self: center;
}

/* .suitGrid {
  display: flex;
} */

/* .model,
.weapons,
.description {
  margin-bottom: 20px;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: auto;
} */

/* .model {
  align-self: start;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* .weapons {
  align-self: start;
  margin-bottom: 20px;
} */

/* .description {
  align-self: end;
  margin-bottom: 20px;
} */

.nav {
  background-color: #e6edf6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

  top: 0;
  width: 100vw;
  height: 50px;
}

.form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10% auto 5% auto;
  max-width: 700px;
}
