.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
}
.container {
  height: 100vh;
}

.seriesbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
  height: auto;
}

.showCard {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 300px;
}

.pilotCard {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 225px;
  height: 275px;
}
.suitCard {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: center;
  width: 225px;
  height: 275px;
}

.showCard,
.pilotCard,
.suitCard {
  background: rgba(81, 77, 219, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.iconImage {
  width: 200px;
  height: 200px;
}
.suitIcon {
  width: 200px;
  height: 200px;
}

.showDetails {
  display: grid;
}

.showDetails,
.showDetails2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
  /* margin: 10vh; */
}

.suitMedia {
  width: 400px;
  height: 400px;
  justify-self: center;
  align-self: center;
}

.suitGrid {
  display: flex;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.model,
.weapons,
.description {
  width: 1000px;
  margin-left: 100px;
  text-align: left;
}

.description {
  -webkit-overflow-scrolling: auto;
  overflow-y: scroll;
  line-height: 145%;
  size: 15px;
  text-align: left;
  height: 500px;
}

.nav {
  background-color: #e6edf6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

  top: 0;
  width: 100vw;
  height: 50px;
}

.form {
  display: grid;
  grid-template-rows: 75px 15px 75px;
  margin: 150px auto 10px auto;
  max-width: 700px;
  color: red;
}

.form-author,
.form-text,
.custom-btn,
.form-url {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: red;
}

.form-author {
  height: 50px;
  font-size: 1rem;
  padding-left: 15px;
  color: white;
  margin-bottom: 200px;
  align-self: center;
}

.form-text {
  margin-bottom: 90px;
  height: 100px;
  font-size: 1.3rem;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
  align-self: center;
}

.form-url {
  height: 25px;
  font-size: 1rem;
  padding-left: 15px;
  align-self: center;
  margin-top: 10px;
}

.custom-btn {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  background-color: rgba(68, 70, 179, 0.3);
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  align-self: start;
}

::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-author,
.create-text,
.create-url,
.create-btn {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: red;
}

.create-author {
  height: 30px;
  width: 200px;
}

.create-text {
  height: 100px;
}
